In [0]:
import requests
import json
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [0]:
API_KEY = "abc123"
request_url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=TSLA&apikey={API_KEY}"
response = requests.get(request_url)
print(response)

<Response [200]>

In [0]:
values = json.loads(response.text)
values.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [0]:
test = values["Time Series (Daily)"]
test

{'2019-11-05': {'1. open': '319.6200',
  '2. high': '323.5100',
  '3. low': '316.1180',
  '4. close': '317.2200',
  '5. volume': '6943417'},
 '2019-11-06': {'1. open': '318.0000',
  '2. high': '326.7200',
  '3. low': '314.5000',
  '4. close': '326.5800',
  '5. volume': '7940932'},
 '2019-11-07': {'1. open': '329.1400',
  '2. high': '341.5000',
  '3. low': '328.0200',
  '4. close': '335.5400',
  '5. volume': '14467348'},
 '2019-11-08': {'1. open': '334.5000',
  '2. high': '337.4600',
  '3. low': '332.5000',
  '4. close': '337.1400',
  '5. volume': '6074221'},
 '2019-11-11': {'1. open': '343.9500',
  '2. high': '349.1900',
  '3. low': '342.0000',
  '4. close': '345.0900',
  '5. volume': '9993689'},
 '2019-11-12': {'1. open': '346.9000',
  '2. high': '350.3700',
  '3. low': '344.0400',
  '4. close': '349.9300',
  '5. volume': '7359383'},
 '2019-11-13': {'1. open': '355.0000',
  '2. high': '356.3300',
  '3. low': '345.1800',
  '4. close': '346.1100',
  '5. volume': '8467863'},
 '2019-11-14': {'1. open': '346.1100',
  '2. high': '353.8400',
  '3. low': '342.9100',
  '4. close': '349.3500',
  '5. volume': '6471703'},
 '2019-11-15': {'1. open': '350.6400',
  '2. high': '352.8000',
  '3. low': '348.3600',
  '4. close': '352.1700',
  '5. volume': '4812563'},
 '2019-11-18': {'1. open': '352.9165',
  '2. high': '353.1500',
  '3. low': '346.1000',
  '4. close': '349.9900',
  '5. volume': '4408505'},
 '2019-11-19': {'1. open': '351.7500',
  '2. high': '359.9900',
  '3. low': '347.8000',
  '4. close': '359.5200',
  '5. volume': '7736078'},
 '2019-11-20': {'1. open': '360.0000',
  '2. high': '361.2000',
  '3. low': '349.5700',
  '4. close': '352.2200',
  '5. volume': '6733965'},
 '2019-11-21': {'1. open': '354.5100',
  '2. high': '360.8400',
  '3. low': '354.0039',
  '4. close': '354.8300',
  '5. volume': '6110013'},
 '2019-11-22': {'1. open': '340.1600',
  '2. high': '341.0000',
  '3. low': '330.0000',
  '4. close': '333.0400',
  '5. volume': '16870642'},
 '2019-11-25': {'1. open': '344.3200',
  '2. high': '344.5700',
  '3. low': '334.4600',
  '4. close': '336.3400',
  '5. volume': '12345765'},
 '2019-11-26': {'1. open': '335.2700',
  '2. high': '335.5000',
  '3. low': '327.1000',
  '4. close': '328.9200',
  '5. volume': '7956239'},
 '2019-11-27': {'1. open': '331.1200',
  '2. high': '333.9300',
  '3. low': '328.5700',
  '4. close': '331.2900',
  '5. volume': '5563459'},
 '2019-11-29': {'1. open': '331.1100',
  '2. high': '331.2600',
  '3. low': '327.5000',
  '4. close': '329.9400',
  '5. volume': '2465629'},
 '2019-12-02': {'1. open': '329.4000',
  '2. high': '336.3827',
  '3. low': '328.6870',
  '4. close': '334.8700',
  '5. volume': '6081986'},
 '2019-12-03': {'1. open': '332.6200',
  '2. high': '337.9100',
  '3. low': '332.1860',
  '4. close': '336.2000',
  '5. volume': '6613476'},
 '2019-12-04': {'1. open': '337.7500',
  '2. high': '337.8600',
  '3. low': '332.8500',
  '4. close': '333.0300',
  '5. volume': '5536255'},
 '2019-12-05': {'1. open': '332.8300',
  '2. high': '334.4227',
  '3. low': '327.2500',
  '4. close': '330.3700',
  '5. volume': '3736976'},
 '2019-12-06': {'1. open': '335.0000',
  '2. high': '338.8600',
  '3. low': '334.7700',
  '4. close': '335.8900',
  '5. volume': '7618937'},
 '2019-12-09': {'1. open': '336.5900',
  '2. high': '344.4500',
  '3. low': '335.0800',
  '4. close': '339.5300',
  '5. volume': '9040217'},
 '2019-12-10': {'1. open': '339.9600',
  '2. high': '350.7300',
  '3. low': '339.3100',
  '4. close': '348.8400',
  '5. volume': '8839951'},
 '2019-12-11': {'1. open': '351.8765',
  '2. high': '357.1899',
  '3. low': '351.0900',
  '4. close': '352.7000',
  '5. volume': '6919162'},
 '2019-12-12': {'1. open': '354.9200',
  '2. high': '362.7400',
  '3. low': '353.2300',
  '4. close': '359.6800',
  '5. volume': '7776211'},
 '2019-12-13': {'1. open': '361.0500',
  '2. high': '365.2100',
  '3. low': '354.6400',
  '4. close': '358.3900',
  '5. volume': '6574281'},
 '2019-12-16': {'1. open': '362.5500',
  '2. high': '383.6100',
  '3. low': '362.5000',
  '4. close': '381.5000',
  '5. volume': '18220940'},
 '2019-12-17': {'1. open': '378.9900',
  '2. high': '385.5000',
  '3. low': '375.9000',
  '4. close': '378.9900',
  '5. volume': '8503775'},
 '2019-12-18': {'1. open': '380.6300',
  '2. high': '395.2200',
  '3. low': '380.5800',
  '4. close': '393.1500',
  '5. volume': '14136392'},
 '2019-12-19': {'1. open': '397.3200',
  '2. high': '406.8500',
  '3. low': '396.5000',
  '4. close': '404.0400',
  '5. volume': '18120307'},
 '2019-12-20': {'1. open': '410.2900',
  '2. high': '413.0000',
  '3. low': '400.1850',
  '4. close': '405.5900',
  '5. volume': '14785206'},
 '2019-12-23': {'1. open': '411.7800',
  '2. high': '422.0100',
  '3. low': '410.0000',
  '4. close': '419.2200',
  '5. volume': '13332821'},
 '2019-12-24': {'1. open': '418.3600',
  '2. high': '425.4700',
  '3. low': '412.6875',
  '4. close': '425.2500',
  '5. volume': '8054720'},
 '2019-12-26': {'1. open': '427.9100',
  '2. high': '433.4800',
  '3. low': '426.3500',
  '4. close': '430.9400',
  '5. volume': '10648289'},
 '2019-12-27': {'1. open': '435.0000',
  '2. high': '435.3100',
  '3. low': '426.1100',
  '4. close': '430.3800',
  '5. volume': '9956827'},
 '2019-12-30': {'1. open': '428.7900',
  '2. high': '429.0000',
  '3. low': '409.2589',
  '4. close': '414.7000',
  '5. volume': '12601265'},
 '2019-12-31': {'1. open': '405.0003',
  '2. high': '421.2900',
  '3. low': '402.0800',
  '4. close': '418.3300',
  '5. volume': '10292456'},
 '2020-01-02': {'1. open': '424.5000',
  '2. high': '430.6957',
  '3. low': '421.7100',
  '4. close': '430.2600',
  '5. volume': '9558386'},
 '2020-01-03': {'1. open': '440.5000',
  '2. high': '454.0000',
  '3. low': '436.9200',
  '4. close': '443.0100',
  '5. volume': '17794697'},
 '2020-01-06': {'1. open': '440.4700',
  '2. high': '451.5600',
  '3. low': '440.0000',
  '4. close': '451.5400',
  '5. volume': '10157499'},
 '2020-01-07': {'1. open': '461.4000',
  '2. high': '471.6300',
  '3. low': '453.3550',
  '4. close': '469.0600',
  '5. volume': '18209138'},
 '2020-01-08': {'1. open': '473.7000',
  '2. high': '498.4900',
  '3. low': '468.2300',
  '4. close': '492.1400',
  '5. volume': '31199393'},
 '2020-01-09': {'1. open': '497.1000',
  '2. high': '498.8000',
  '3. low': '472.8700',
  '4. close': '481.3400',
  '5. volume': '28463186'},
 '2020-01-10': {'1. open': '481.7900',
  '2. high': '484.9400',
  '3. low': '473.7000',
  '4. close': '478.1500',
  '5. volume': '12976832'},
 '2020-01-13': {'1. open': '493.5000',
  '2. high': '525.6300',
  '3. low': '492.0000',
  '4. close': '524.8600',
  '5. volume': '26307458'},
 '2020-01-14': {'1. open': '544.2550',
  '2. high': '547.4100',
  '3. low': '524.9000',
  '4. close': '537.9200',
  '5. volume': '29061377'},
 '2020-01-15': {'1. open': '529.7600',
  '2. high': '537.8400',
  '3. low': '516.7853',
  '4. close': '518.5000',
  '5. volume': '17368831'},
 '2020-01-16': {'1. open': '493.7500',
  '2. high': '514.4600',
  '3. low': '492.1700',
  '4. close': '513.4900',
  '5. volume': '21736653'},
 '2020-01-17': {'1. open': '507.6100',
  '2. high': '515.6699',
  '3. low': '503.1600',
  '4. close': '510.5000',
  '5. volume': '13629073'},
 '2020-01-21': {'1. open': '530.2500',
  '2. high': '548.5800',
  '3. low': '528.4100',
  '4. close': '547.2000',
  '5. volume': '17447270'},
 '2020-01-22': {'1. open': '571.8900',
  '2. high': '594.5000',
  '3. low': '559.1000',
  '4. close': '569.5600',
  '5. volume': '31369028'},
 '2020-01-23': {'1. open': '564.2500',
  '2. high': '582.0000',
  '3. low': '555.6027',
  '4. close': '572.2000',
  '5. volume': '19651042'},
 '2020-01-24': {'1. open': '570.6300',
  '2. high': '573.8600',
  '3. low': '554.2600',
  '4. close': '564.8200',
  '5. volume': '14353600'},
 '2020-01-27': {'1. open': '541.9900',
  '2. high': '564.4400',
  '3. low': '539.2800',
  '4. close': '558.0200',
  '5. volume': '13608068'},
 '2020-01-28': {'1. open': '568.4900',
  '2. high': '576.8100',
  '3. low': '558.0800',
  '4. close': '566.9000',
  '5. volume': '11788493'},
 '2020-01-29': {'1. open': '575.6900',
  '2. high': '589.7999',
  '3. low': '567.4300',
  '4. close': '580.9900',
  '5. volume': '18216672'},
 '2020-01-30': {'1. open': '632.4200',
  '2. high': '650.8800',
  '3. low': '618.0000',
  '4. close': '640.8100',
  '5. volume': '29005676'},
 '2020-01-31': {'1. open': '640.0000',
  '2. high': '653.0000',
  '3. low': '632.5200',
  '4. close': '650.5700',
  '5. volume': '15719266'},
 '2020-02-03': {'1. open': '673.6900',
  '2. high': '786.1400',
  '3. low': '673.5200',
  '4. close': '780.0000',
  '5. volume': '47233495'},
 '2020-02-04': {'1. open': '882.9600',
  '2. high': '968.9899',
  '3. low': '833.8800',
  '4. close': '887.0600',
  '5. volume': '60938758'},
 '2020-02-05': {'1. open': '823.2600',
  '2. high': '845.9800',
  '3. low': '704.1106',
  '4. close': '734.7000',
  '5. volume': '48423837'},
 '2020-02-06': {'1. open': '699.9200',
  '2. high': '795.8300',
  '3. low': '687.0000',
  '4. close': '748.9600',
  '5. volume': '39880752'},
 '2020-02-07': {'1. open': '730.5500',
  '2. high': '769.7500',
  '3. low': '730.0000',
  '4. close': '748.0700',
  '5. volume': '17063521'},
 '2020-02-10': {'1. open': '800.0000',
  '2. high': '819.9900',
  '3. low': '752.4000',
  '4. close': '771.2800',
  '5. volume': '24689163'},
 '2020-02-11': {'1. open': '768.7900',
  '2. high': '783.5061',
  '3. low': '758.0000',
  '4. close': '774.3800',
  '5. volume': '11697473'},
 '2020-02-12': {'1. open': '777.8700',
  '2. high': '789.7500',
  '3. low': '763.3700',
  '4. close': '767.2900',
  '5. volume': '12022470'},
 '2020-02-13': {'1. open': '741.8400',
  '2. high': '818.0000',
  '3. low': '735.0000',
  '4. close': '804.0000',
  '5. volume': '26289348'},
 '2020-02-14': {'1. open': '787.2200',
  '2. high': '812.9700',
  '3. low': '785.5000',
  '4. close': '800.0300',
  '5. volume': '15693711'},
 '2020-02-18': {'1. open': '841.6000',
  '2. high': '860.0000',
  '3. low': '832.3600',
  '4. close': '858.4000',
  '5. volume': '16698369'},
 '2020-02-19': {'1. open': '923.5000',
  '2. high': '944.7800',
  '3. low': '901.0200',
  '4. close': '917.4200',
  '5. volume': '25422958'},
 '2020-02-20': {'1. open': '911.9500',
  '2. high': '912.0000',
  '3. low': '859.9400',
  '4. close': '899.4100',
  '5. volume': '17634893'},
 '2020-02-21': {'1. open': '906.9800',
  '2. high': '913.0600',
  '3. low': '880.4500',
  '4. close': '901.0000',
  '5. volume': '14339446'},
 '2020-02-24': {'1. open': '839.0000',
  '2. high': '863.5000',
  '3. low': '822.2000',
  '4. close': '833.7900',
  '5. volume': '15192163'},
 '2020-02-25': {'1. open': '849.0000',
  '2. high': '856.6000',
  '3. low': '787.0000',
  '4. close': '799.9100',
  '5. volume': '17290481'},
 '2020-02-26': {'1. open': '782.5000',
  '2. high': '813.3100',
  '3. low': '776.1100',
  '4. close': '778.8000',
  '5. volume': '14153843'},
 '2020-02-27': {'1. open': '730.0000',
  '2. high': '739.7700',
  '3. low': '669.0000',
  '4. close': '679.0000',
  '5. volume': '24277160'},
 '2020-02-28': {'1. open': '629.7000',
  '2. high': '690.5200',
  '3. low': '611.5200',
  '4. close': '667.9900',
  '5. volume': '24564171'},
 '2020-03-02': {'1. open': '711.2600',
  '2. high': '743.6900',
  '3. low': '686.6700',
  '4. close': '743.6200',
  '5. volume': '20194991'},
 '2020-03-03': {'1. open': '805.0000',
  '2. high': '806.9800',
  '3. low': '716.1106',
  '4. close': '745.5100',
  '5. volume': '25784003'},
 '2020-03-04': {'1. open': '763.9603',
  '2. high': '766.5200',
  '3. low': '724.7345',
  '4. close': '749.5000',
  '5. volume': '15048977'},
 '2020-03-05': {'1. open': '723.7700',
  '2. high': '745.7500',
  '3. low': '718.0700',
  '4. close': '724.5400',
  '5. volume': '10852657'},
 '2020-03-06': {'1. open': '690.0035',
  '2. high': '707.0000',
  '3. low': '684.2700',
  '4. close': '703.4800',
  '5. volume': '12662918'},
 '2020-03-09': {'1. open': '605.3900',
  '2. high': '662.9980',
  '3. low': '605.0000',
  '4. close': '608.0000',
  '5. volume': '17073740'},
 '2020-03-10': {'1. open': '659.4300',
  '2. high': '668.0000',
  '3. low': '608.0000',
  '4. close': '645.3300',
  '5. volume': '15594443'},
 '2020-03-11': {'1. open': '640.2000',
  '2. high': '653.5800',
  '3. low': '613.0000',
  '4. close': '634.2300',
  '5. volume': '13413587'},
 '2020-03-12': {'1. open': '580.8900',
  '2. high': '594.5000',
  '3. low': '546.2500',
  '4. close': '560.5500',
  '5. volume': '18909052'},
 '2020-03-13': {'1. open': '595.0000',
  '2. high': '607.5700',
  '3. low': '502.0000',
  '4. close': '546.6200',
  '5. volume': '22640254'},
 '2020-03-16': {'1. open': '469.4997',
  '2. high': '494.8699',
  '3. low': '442.1700',
  '4. close': '445.0700',
  '5. volume': '20489464'},
 '2020-03-17': {'1. open': '440.0100',
  '2. high': '471.8500',
  '3. low': '396.0000',
  '4. close': '430.2000',
  '5. volume': '23994580'},
 '2020-03-18': {'1. open': '389.0000',
  '2. high': '404.8600',
  '3. low': '350.5100',
  '4. close': '361.2200',
  '5. volume': '23625005'},
 '2020-03-19': {'1. open': '374.6965',
  '2. high': '452.0000',
  '3. low': '358.4600',
  '4. close': '427.6400',
  '5. volume': '30195460'},
 '2020-03-20': {'1. open': '438.2000',
  '2. high': '477.0000',
  '3. low': '425.7900',
  '4. close': '427.5300',
  '5. volume': '28285502'},
 '2020-03-23': {'1. open': '433.6000',
  '2. high': '441.9999',
  '3. low': '410.5000',
  '4. close': '434.2900',
  '5. volume': '16454549'},
 '2020-03-24': {'1. open': '477.3000',
  '2. high': '513.6900',
  '3. low': '474.0000',
  '4. close': '505.0000',
  '5. volume': '22895170'},
 '2020-03-25': {'1. open': '545.2500',
  '2. high': '557.0000',
  '3. low': '511.1100',
  '4. close': '539.2500',
  '5. volume': '21222745'},
 '2020-03-26': {'1. open': '547.3900',
  '2. high': '560.0000',
  '3. low': '512.2500',
  '4. close': '528.1600',
  '5. volume': '17422082'},
 '2020-03-27': {'1. open': '505.0000',
  '2. high': '525.8000',
  '3. low': '494.0300',
  '4. close': '514.3600',
  '5. volume': '14377408'},
 '2020-03-30': {'1. open': '510.2600',
  '2. high': '516.6471',
  '3. low': '491.2300',
  '4. close': '502.1300',
  '5. volume': '11568332'}}

In [0]:
for x in test:
  print(test[x]["1. open"])

510.2600
505.0000
547.3900
545.2500
477.3000
433.6000
438.2000
374.6965
389.0000
440.0100
469.4997
595.0000
580.8900
640.2000
659.4300
605.3900
690.0035
723.7700
763.9603
805.0000
711.2600
629.7000
730.0000
782.5000
849.0000
839.0000
906.9800
911.9500
923.5000
841.6000
787.2200
741.8400
777.8700
768.7900
800.0000
730.5500
699.9200
823.2600
882.9600
673.6900
640.0000
632.4200
575.6900
568.4900
541.9900
570.6300
564.2500
571.8900
530.2500
507.6100
493.7500
529.7600
544.2550
493.5000
481.7900
497.1000
473.7000
461.4000
440.4700
440.5000
424.5000
405.0003
428.7900
435.0000
427.9100
418.3600
411.7800
410.2900
397.3200
380.6300
378.9900
362.5500
361.0500
354.9200
351.8765
339.9600
336.5900
335.0000
332.8300
337.7500
332.6200
329.4000
331.1100
331.1200
335.2700
344.3200
340.1600
354.5100
360.0000
351.7500
352.9165
350.6400
346.1100
355.0000
346.9000
343.9500
334.5000
329.1400
318.0000
319.6200

In [0]:
df = pd.DataFrame(test)
df.head()

          2020-03-26 2020-03-25 2020-03-24  ... 2019-11-05 2019-11-04 2019-11-01
1. open     547.3900   545.2500   477.3000  ...   319.6200   314.8000   316.3200
2. high     560.0000   557.0000   513.6900  ...   323.5100   321.9400   316.4800
3. low      512.2500   511.1100   474.0000  ...   316.1180   309.2600   309.8000
4. close    528.1600   539.2500   505.0000  ...   317.2200   317.4700   313.3100
5. volume   17312820   21222745   22895170  ...    6943417    8787040    6383929

[5 rows x 100 columns]

In [0]:
df1 = df.transpose().reset_index()
df1.head(25)

         index   1. open   2. high    3. low  4. close 5. volume
0   2020-03-26  547.3900  560.0000  512.2500  528.1600  17312820
1   2020-03-25  545.2500  557.0000  511.1100  539.2500  21222745
2   2020-03-24  477.3000  513.6900  474.0000  505.0000  22895170
3   2020-03-23  433.6000  441.9999  410.5000  434.2900  16454549
4   2020-03-20  438.2000  477.0000  425.7900  427.5300  28285502
5   2020-03-19  374.6965  452.0000  358.4600  427.6400  30195460
6   2020-03-18  389.0000  404.8600  350.5100  361.2200  23625005
7   2020-03-17  440.0100  471.8500  396.0000  430.2000  23994580
8   2020-03-16  469.4997  494.8699  442.1700  445.0700  20489464
9   2020-03-13  595.0000  607.5700  502.0000  546.6200  22640254
10  2020-03-12  580.8900  594.5000  546.2500  560.5500  18909052
11  2020-03-11  640.2000  653.5800  613.0000  634.2300  13413587
12  2020-03-10  659.4300  668.0000  608.0000  645.3300  15594443
13  2020-03-09  605.3900  662.9980  605.0000  608.0000  17073740
14  2020-03-06  690.0035  707.0000  684.2700  703.4800  12662918
15  2020-03-05  723.7700  745.7500  718.0700  724.5400  10852657
16  2020-03-04  763.9603  766.5200  724.7345  749.5000  15048977
17  2020-03-03  805.0000  806.9800  716.1106  745.5100  25784003
18  2020-03-02  711.2600  743.6900  686.6700  743.6200  20194991
19  2020-02-28  629.7000  690.5200  611.5200  667.9900  24564171
20  2020-02-27  730.0000  739.7700  669.0000  679.0000  24277160
21  2020-02-26  782.5000  813.3100  776.1100  778.8000  14153843
22  2020-02-25  849.0000  856.6000  787.0000  799.9100  17290481
23  2020-02-24  839.0000  863.5000  822.2000  833.7900  15192163
24  2020-02-21  906.9800  913.0600  880.4500  901.0000  14339446

In [0]:
df1 = df1.sort_values(by="index")
print(df.shape)
df1.head()

(5, 100)

         index   1. open   2. high    3. low  4. close 5. volume
99  2019-10-31  313.1000  319.0000  313.0000  314.9200   5066956
98  2019-11-01  316.3200  316.4800  309.8000  313.3100   6383929
97  2019-11-04  314.8000  321.9400  309.2600  317.4700   8787040
96  2019-11-05  319.6200  323.5100  316.1180  317.2200   6943417
95  2019-11-06  318.0000  326.7200  314.5000  326.5800   7940932

In [0]:
df1["index"] = pd.to_datetime(df1["index"])
df1["year"] = df1["index"].dt.year
df1["month"] = df1["index"].dt.month
df1["day"] = df1["index"].dt.day
df1.head(1)

        index   1. open   2. high    3. low  ... 5. volume  year  month  day
99 2019-10-31  313.1000  319.0000  313.0000  ...   5066956  2019     10   31

[1 rows x 9 columns]

In [0]:
model = LinearRegression()

In [0]:
X=df1.drop(columns=["index", "4. close"])[:50]
y=df1["4. close"][:50]

X_t = df1.drop(columns=["index", "4. close"])[50:]
y_t = df1["4. close"][50:]

model.fit(X,y)
model.score(X_t,y_t)

0.9747989957615869